{{ include('client/base.html.twig') }}


{% block body %}
    <div>
    <h1><center><b>Edit Commande</b></center></h1></br></br>

    {{ include('commande/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary btn-lg" href="{{ path('commande_index') }}">return</a>

    {{ include('commande/_delete_form.html.twig') }}
    </div>
    <style>

div{
  width: 100%;
  text-align: center;
}

</style>
{% endblock %}