{{ include('client/base.html.twig') }}

{% block body %}
<div>
    <h1><center><b>Creer nouveau Commande</b></center></h1></br></br>

    {{ include('commande/_form.html.twig') }}

    <a class="btn btn-primary btn-lg" href="{{ path('commande_index') }}">retour</a>
    </div>
    <style>

        div{
        width: 100%;
        text-align: center;
        }

</style>
{% endblock %}
