{{ include('client/base.html.twig') }}


{% block body %}
    <div>
    <h1><center><b>Edit CLIENT</b></center></h1>

    {{ include('client/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary btn-lg" href="{{ path('client_index') }}">return</a>

    {{ include('client/_delete_form.html.twig') }}
    </div>
    <style>

div{
  width: 100%;
  text-align: center;
}

</style>
{% endblock %}
